<!DOCTYPE html>
<html>
    <body>
        {% extends "base.html" %}
        {% block title %}Upload Paint Image{% endblock %}
        {% block content %}
        <h1>UNDER CONSTRUCTION, NO OCR WILL BE PERFORMED</h1>
        <h2>Upload Paint Image</h2>
        <form action="/ocr" enctype="multipart/form-data" method="post">
            <input name="uploaded_files" type="file" multiple accept="image/*" required>
            <input type="submit" value=Upload>
        </form>
        <p>Supported formats: JPEG, PNG, WEBP</p>
        {% endblock %}
    </body>
</html>